[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
psycopg2 = "*"
schedule = "*"
loguru = "*"

[dev-packages]

[requires]
python_version = "3.8"
